<?xml version="1.0"?>
<!--
@copyright: Copyright © 2017 mediaman GmbH. All rights reserved.
@see LICENSE.txt
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="Mediaman_ProductCategorySortOrder"
                type="Mediaman\ProductCategorySortOrder\Plugin\Catalog\ProductCategorySortOrder"/>
    </type>
</config>